body{
    background-color: rgb(88, 178, 214);
}

h1{
    color: rgb(24, 58, 104);
}

div{
    width: 450px; height: 150px;
    background-color: white;
}

.a{
    border: 3px solid black;
}

#b{
    position: relative;
}

#c{
    position: absolute; top: 500px;
}

#d{
    position: absolute; top: 450px; left: 350px;
    width: 180px; height: 80px;
    border-radius: 16px; border: none;
    background-color: rgb(59, 72, 192); color: white;
}